@font-face {
  font-family: 'NeoDunggeunmoPro-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: 'NeoDunggeunmoPro-Regular', sans-serif;
  /* max-width: 1200px;
  min-width: 800px; */
}

.app-style{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding:70px;
  gap:12px;
  max-width: 1200px;
  min-width: 800px;
}

.header{
  height: 40px;
  font-size: larger;
}

.todo-box{
  width: 250px;
  height: 150px;
  border: 2px solid blueviolet;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin: 15px;
  word-wrap: normal;
}
.todolist-box{
  display: flex;
}

.btns{
  background-color: lightgray;
  border: 1px solid greenyellow;
  border-radius: 5px;
}